  #messagePass {
    display:none;
    color: #000;
    margin-top: 7px;
    margin-left: 9%;
  }
  
  #messagePass p {
    /* padding: 10px 35px;  */
    font-size: 12px;
    line-height: .1;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: tomato;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }
  .popover{
    /* top: 50px !important;
    left: 270px !important; */
    width:200px;
    /* background: blue; */
}
