body{
    max-width: 100%;
    position: relative;
  }
  img{
    padding: 8%;
    padding-bottom: 3%;
  }
  @keyframes topFadeOut {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    100% {
      position: absolute;
      top: 25%;
      opacity: 1;
    }
  
  }
  .first-text {
    animation-name: topFadeOut;
    animation-duration: 3s;
  }
  #vacancy_heading{
    padding: 2%;
  }
  #vacancies_div h6{
    font-weight: bold;
  }
  #vacancies_div p{
    font-weight: normal;
    color: gray;
  }
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  /* old value 576px*/
  @media (min-width: 350px) {
    #heading .animated {
      -webkit-animation: none;
      animation: none;
    }
    h1{
      font-size: 2rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    }
    h2{
      font-size: 1rem;
    }
    #heading{
      width: 100%;
      text-align: center;
    }
    .white_box{
      width: 50%;
    }
    #button_group{
      display: none;
    }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 600px) {
    h1{
      font-size: 3rem;
    }
    h2{
      font-size: 2rem;
    }
    #heading{
      text-align: left;
    }
    #heading_div{
      padding: 2%;
      padding-top: 3%;
    }
    #heading .animated {
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    #button_group{
      display: block;
    }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    h1{
      font-size: 4rem;
    }
    #heading_div{
      padding: 8%;
      padding-top: 12%;
      align-items: center;
    }
    #heading .animated {
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    #button_group{
      display: block;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
  
  }
  